{% include 'base.html'%}
{% include 'navigation.html'%}
<style>
    .mydivstyle:hover{
       box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
       transform: translateY(-20px);
   
   }
</style>

{% block content %}
<div class="container" style="margin-top: 50px;">
    <h1 class="text-center">Contact Us</h1>
    <div class="row mt-5 text-center"  >
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><li class="fas fa-phone-square">Contact</li></h4>
        <p class="text-danger font-weight-bold mt-3 "><a href="tel:+216 56789499">+216 56789499</a></p>
    </div>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><li class="fa fa-envelope">Send-email</li></h4>
        <p class="font-weight-bold mt-3"><a href="mailto: avb@gmail.com">abc@gmail.com</a></p>
    </div>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><li class="fa fa-address-card">Office Address</li></h4>
        <p class="font-weight-bold mt-3"><a href="http://maps.google.com/maps?q=tek-up">technopole ghazela,tek-up</a></p>

    </div>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><li class="fa fa-address-card" aria-hidden="true">Office Time</li></h4>
        <p class="font-weight-bold mt-3">10AM to 5PM</p>

    </div>
    </div>
    <br>
<br>
<br>
<br>
<br>
</div>
   
{% endblock content %}
{% include 'footer.html'%}