{% include 'base.html' %}
{% load static %}
{% include 'navigation.html'%}
<style>
   table, th, td {
     border:1px solid black;
   }
   </style>
<div>
  <h1 class="text-center">View Doctor</h1>
<table style="width:90%" id="example" class="tbable table-hover">
     <thead>
        <tr>
            <th>DoctorId</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Special</th>
            <th>Delete</th>
        </tr>
     </thead>
     <tbody>
        {% for i in doc %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Mobile}}</td>
            <td>{{i.Special}}</td>
            <td><a href="{% url 'delete_doctor' i.id %}" 
              onclick="return confirm('Are you sure want to delete ?')" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
     </tbody>
</table>


</div> 
{% include 'footer.html'%}